.headerPage2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
    background-color: #00B6BC;
    
    
}
.headerPage2 a{
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.headerPage2 p{
    font-weight: bold;
    color: white;
}

.Card-container{
    width: 100%;
    margin-top: 3px;
    height: 120px !important;
    margin-bottom: 22px !important ;



}
.css-1r6gfho>:not(style){
    width: 100%!important;
}
.picvideo{
    padding-top: 10px;
    padding-left: 6px;
    width:100px;
    height: 100%;
    overflow: hidden;
    
}
.css-58ftfq-MuiSkeleton-root{
    display: inline !important;
}
.textVideo{
    margin-top: 6px;
    margin-bottom:3px;
    padding-right: 15px;
    line-height: 15px;
}
.textVideo p{
    color: #9e9e9e;
}
