@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

.container-calculate {
    height: 100vh;
    /* background-color: wheat; */
    font-family: 'Mitr', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-calculate {
    background-color: aqua;
    width: fit-content;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(0,0,0,0.5);
}
.name {
    font-size: 5vw;
    color: black;
    text-shadow: 5px 10px 10px rgb(0,0,0,0.5);
    /* background-color: red; */
    margin-bottom: 20px;
}

.box-input {
    
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    width: 10vw;
}
.name-content {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2vw;
}

.box-input input {
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}
.box-input input:focus {
    outline: none;
}

.box-operator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80px;
}
.box-operator select{
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.box-operator option{
    font-size: 20px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.box-input-result{
    font-size: 3vw;
}

.box-button-clear {
    display: flex;
    margin-top: 30px;
    font-size: 2vw;
    align-items: center;
    box-shadow: 5px 10px 10px rgb(0,0,0,0.5);
    border: 3px solid black;
    border-radius: 5px;
}
.box-button-clear button{
    width: 8vw;
    height: 3vw;
    background-color: rgb(20, 76, 165);
    font-size: 1em;
    text-align: center;
    transition: .3s;
    color: white;
}
.box-button-clear button:hover{
    opacity: 0.7;
}
.box-button-clear button:active{
    background-color: aquamarine;
    color: black;
}
.box-input-result {
    text-shadow: 5px 10px 10px rgb(0,0,0,0.5);
}