#root{
  background-color: rgb(141, 67, 214);
  margin: 0;
  padding: 0;
  top: 0;
  min-height: 660px;
  max-width: 100vw;
  min-width: 330px; 
}
.container::-webkit-scrollbar {
  display: none; 
}
.container{
  width: 98%;
  max-width: 98vw;
  min-height: 660px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 70px;
  overflow: hidden;
  min-width: 330px;
  overflow: scroll;
  scrollbar-width: none;
}
.navbar{
  position: fixed;
  transform: translate(-50%,0%);
  left: 50%;
  bottom: 0;
}
.filter{
  padding:15px;
  background-color:#fafafa;
  color:black;
}
