@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Prompt', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: #333;
  text-align: center;
}
img{
  width: 550px;
  height: 550px;
}