nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
    margin-left: 12px;
    font-size: 1rem;
    padding: 10px;
    transition: .3s;
}

a:hover {
    color: orange;
}

.logo {
    margin-right: auto;
    padding-left: 10px;
    color: white;
}

.nav-item:last-child {
    margin-right: 12px;
}