header{
    display: flex;
    min-height: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgb(0,0,0,0.5);
}
.logo {
    display: flex;
    align-items: center;

}

.logo span {
    font-size: 22px;
    margin-left: 7px;
}
/* .theme-container {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.theme-container span {
    font-size: 20px;
    margin-bottom: 100px;
    margin-left: 10px;
    cursor: pointer;
}