.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4c4c4c;
    font-size: 2.5vh;
}
.select{
    width:15vh ;
}
.Search_details{
    border-radius: 5px;  
    background-color:#e7e7e7 ;  
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.button-set{
    width: auto;
    height: 24px;
    padding: 13px;
    border-radius: 5px;
    font-size:2rem;
    background-color: #e7e7e7;
    color: #717171;
    
}
.IconSun{
    font-size: 2rem;
    color: orange;
}
.containerHome{
    margin-left: 20px;
    margin-right: 20px;
}
.Boxsearch{
    height: 36px;
}

