
.Button-item img{
    padding-top: px;
    width: auto;
    height: 50px;
    overflow: hidden;
    text-align: center;
}
.Button-item  p{
    margin-top: 1px;
    color: #7d7d7d;
    font-family: sans-serif;
}
.Button-item a{
    text-decoration: none;
}

.Boxitem{
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
}
.container{
    width:100%;
    height: 100%;

}
.topic{
    font-family: sans-serif;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color:#4c4c4c;
}
.topic .LinkViex{
    margin-top: 25px;
}
.topic a{
    text-decoration: none;
    color: #71D5E4;
}
.Boxitem {
    text-decoration: none;

}
.containerSubjectItem{
    min-height: calc(50vh );
    margin-left: 20px;
    margin-right: 20px;

}