.head{
    text-align: center;
    background-color: aliceblue;
    padding: 1%;
    margin-top: 0%;
}
body{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(224, 198, 202);
}
p{
    font-size: 20px;
    font-weight: bold;
}
 body img{
    width: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 25px;
 }
  
.content{
    border-style: dashed;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}