@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');

h2 {
  font-size: 2rem;
  text-align: center;
  color: black;
  margin-top: 0.5rem;
  font-family: 'Prompt', sans-serif;
}
.form-control {
  display: flex;
  justify-content: center;
}

.text-input {
  flex-grow: 1;
  padding: 5px 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 18px;
}

.text-input :focus{
    outline: none;
}

.sudmit-btn{
    background: green;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Prompt', sans-serif;
}

